@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Open+Sans:ital,wght@0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* main color */
  --hi: #5afc90;
  --hi-alt: #37f677;

  /* secondary color */
  --sec: #db9065;
  --sec-alt: #458588;

  --font-a: 'Ubuntu', sans-serif;
  --font-b: 'Open Sans', sans-serif;
  --font-mono: monospace;
}

body {
  font-family:  var(--font-b);
  margin: 10px;
}

.explorerContainer {
  
}

.optionsMenuButton {

}

.centerHorizontalContainer {
  width: 100%;
}

.centerHorizontalChild {
  display: table;
  margin: 0 auto;
}

.optionsMenu * {
  display: inline-block;
  margin-right: 10px;
}

.explorerContent {
  width: 100%;
  margin-bottom: 10px;
}

.elementDiv {
  margin-right: 10px;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid gray;
  padding: 8px;
  cursor: pointer;
  transition: 0.25s;
  color: black;
  position: relative;
}

.elementDiv:hover {
  background-color: #e8f0fe;
  transition: 0.25s;
}
.elementDiv:hover {
  border-color: #4589e8;
}

.elementDiv:hover input {
  color: #1967d2;
}

.elementDiv:first-child {
  border-top: 1px solid gray;
}

.elementDiv:first-child:hover {
  border-top-color: #4589e8;
}


.elementDiv .elementIconContainer {
  position: relative;
  float: left;
  height: 100%;
}

.elementDiv .elementIconContainer img {
  object-fit: contain;
}

.elementDiv .elementTitle {
  flex: 1 1 auto;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  width: 70%;
  border: 1px solid #dedede;
  border-radius: 3px;
  font-size: 1em;
}

.elementDiv .elementTitle:disabled {
  border: none;
  cursor: pointer;
}

.elementInfo {
  position: relative;
  left: 10px;
}

.elementInfo .dateHighlight {
  color: var(--sec-alt)
}

.elementDiv .elementEditPanel {
  position: relative;
  float: right;
}

.dropdownButton {
  cursor: pointer;
}

.dropdownDiv {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent .dropdownElement {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownContent .dropdownElement:hover {background-color: #f1f1f1}

.dropdownDiv:hover .dropdownContent {
  display: block;
}

.elementTextSelected {
  border: 1px solid black;
}

.foldersView {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
}

.folderDivOuter {
  display: flex;
  padding: 7px;
}

.elementDivOuter {
  display: flex;
}

.folderDiv {
  border: 2px solid #dedede;
  border-radius: 6px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  /*overflow: hidden;*/
  color: black;
  position: relative;
  transition: 0.25s;
  cursor: pointer;
}

.folderDiv:hover {
  background-color: #e8f0fe;
  transition: 0.25s;
  border-color: #4589e8;
}

.folderDiv:hover input {
  color: #1967d2;
}

.folderItemContainer {
  flex: 0 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 4px;
  padding-right: 8px;
}

.folderItemContainer:first-child {
  padding-left: 16px;
}

.folderDiv .folderTitle {
  flex: 1 1 auto;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  width: 70%;
  border: 1px solid #dedede;
  border-radius: 3px;
}

.folderDiv .folderTitle:disabled {
  border: none;
  cursor: pointer;
}

.folderDiv .overflowContainer {
  position: absolute;
  display: none;
  width: 20px;
  right: 8px;
  top: 12px;
  padding: 4px;
  border-radius: 50%;
  z-index: 10;
}

.folderDiv:hover .overflowContainer {
  display: block;
}

.overflowContainer {
  transition: 0.5s;
}

.overflowContainer:hover {
  background-color: rgba(179, 179, 179, 0.45);
  transition: 0.5s;
}

.overflowDiv {
  z-index: 9999;
  position: absolute;
  top: 50%;
  right: 0;
  background: black;
  width: 50px;
  height: 250px;
}

.elementTypeName {
  font-size: 1.25em;
}

button.rippleButton {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #000;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
  cursor: pointer;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.contextMenuDiv {
  background-color: white;
  position: absolute;
  width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: 2px solid black;
  z-index: 9999;
}

.contextMenuList {
  list-style: none;
  padding-left: 0px;
}

.contextMenuList li {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  padding: 4px;
  cursor: pointer;
}

.contextMenuList li * {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.contextMenuList li:hover {
  background-color: #d9d9d9;
}