.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5em 10em 1em 10em;
  overflow: scroll;
}

.letter_doc {
  --calc-height: calc(100vh - 8em);

  width: calc(8 / 11 * var(--calc-height));
  max-width: 1024px;
  height: var(--calc-height);
  max-height: calc(11 / 8 * 1024px);
  margin: 1em auto;
  padding-bottom: calc(11 / 8);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 32px;
}
