.container {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  min-width: 200px;
  height: 40px;
  margin: 0.5em 3em;
  
  color: rgb(226, 226, 226);
  background-color: #000;
  overflow: hidden;

  /* border: 1px solid #ddd; */
  border-radius: 32px;
  box-shadow: 0 0 3px 0 rgba(60, 64, 67, 0.302);
}

.home {
  font-weight: 500;
  height: 100%;
  font-size: 1.75rem;
  font-family: var(--font-a);
}

.homeImage {
  position: absolute;
  height: 100%;
  width: auto;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
}

.right {
  float: right;
  margin-right: 0.8rem;
  padding-top: 0.6rem;
  font-family: var(--font-mono);
}
